/* add max height values */
html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

body {
    min-height: 100vh;

    margin: 0;
    /* height: 100%; */
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
    color: #2b2c2c;
    background-color: #f7f7f7;
}

main {
    flex: 1;
    overflow: hidden;
    display: flex; 
}

/* ------------------ Header section ----------------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    
    #title{
        padding-left: 25px;
        font-weight: 700;
        font-size: large;
    }

    div{
        padding-right: 25px;
    }

    #theme-toggle{
        margin-top: 10px;
    }
}

/* -------------------- Main section ----------------- */

#workspace {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    min-height: 0;
    height: 100%; 
}

/* Left space */

#codespace {
  display: grid;
  grid-template-rows: 48px 1fr;
  height: 94%; 
  border: #ececec solid 2.5px;
  border-radius: 12.5px;
  overflow: hidden;
  min-height: 0; 
}

#editor {
  width: 100%;
  height: 100%;
  overflow: auto; 
}

#toolbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ececec;
  background: #ececec;
  border-radius: 5px;
}

.tabs {
  display: flex;
  gap: 6px;
}

.tab {
  border: none;
  background: none;
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
}

.tab.active{
  background: #c8c8c8;
  border-radius: 6px;
}

#copy, #docs{
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

#copy:hover, .tab:hover, #docs:hover{
  background: #c8c8c8;
  border-radius: 6px;
}

/* Right space */

#preview {
  display: grid;
  grid-template-rows: 1fr 40px;
  height: 94.25%;
  min-height: 0; 
  overflow: hidden;

  border: #ececec solid 1.5px;
  border-radius: 12.5px;

  position: relative;
  background-color: #fbfbfb;
  background-image:
    radial-gradient(#e5e7eb 1px, transparent 1.5px);
  background-size: 24px 24px;
}

#chart {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mermaid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mermaid svg {
    margin: 0 auto; 
    display: block; 
}

#options{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    div{
        display: flex;
        flex-direction: row;
        justify-content: right;
        gap: 5px;
    }

    button{
        background: #ececec;
        border-radius: 6px;
        border: none;
        padding: 6px 12px;
        font-weight: 500;
        cursor: pointer;
    }

    button:hover{
        background: #c8c8c8;
        border-radius: 6px;
    }

}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    height: 40px; 
    padding-top: 15px;
}

#github{
    color: #2b2c2c;
    padding-right: 25px;
    /* padding-top: 10px; */
}

#github:hover{
    color: blue;
}

#creator{
    font-size: smaller;
    padding-left: 25px;
    margin-top: 0;
}

/* Dark mode theme */

.dark{

    main, header, footer{
        color: #e1e4e3; 
    }

    #toolbar, #preview{
        background-color: #24292e;
        border-color: #24292e;
    }

    #codespace, #preview{
        border-color: #24292e;

        button{
            color: #e1e4e3; 
        }
        
        button.active{
            background-color: #2f363d;
        }

        button:hover{
            background-color: #2f363d;
        }
    }

    #preview{
        background-image:
        radial-gradient(#2f363d 1px, transparent 1.5px);

        button{
            color: #e1e4e3; 
            background-color: #2f363d;
        }

        button:hover{
            background-color: #2f363d89;
        }
    }

    #github{
        color: #e1e4e3;
    }
}

/* theme switcher icon */

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;

    position: relative;
    width: 40px;
    height: 40px;

    color: #333;
    transition: color 0.3s ease;
    overflow: hidden; 
    border-radius: 50%;
}

.theme-btn .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.icon-sun {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

.icon-moon {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(180deg) scale(0.5);
}

body.dark .theme-btn {
    color: #d1d5da; 
}

body.dark .icon-sun {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-180deg) scale(0.5);
}

body.dark .icon-moon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
}

/* responsiveness */
@media (max-width: 1100px) {
    header,footer{display: none;}

    #workspace {
        display: flex;
        flex-direction: column;
        height: auto; 
        padding-top: 20px;
    }

    #codespace, #preview {
        height: 40vh; 
    }

    #editor{
        max-width: 98vw;
        max-height: 30vh;
    }
}