html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    margin: 0;
    height: 100%;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    color: #2b2c2c;
    background-color: #f7f7f7;
}

/* ------------------ Header section ----------------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: left;

    padding-top: 5px;
    height: auto;
    
    #title{
        padding-left: 25px;
        font-weight: 700;
        font-size: large;
        border-right: 1.5px solid #e5e7eb;
        padding-right: 20px;
    }

    #description{
        padding-left: 10px;
        padding-top: 8px;
        font-style: italic;
        font-size: smaller;
    }
}


/* -------------------- Main section ----------------- */

#workspace {
  flex-grow: 1;
  min-height: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75vh;

  gap: 20px;
  margin: 20px;
  margin-bottom: 5px;
}

/* Left space */

#codespace{
  display: grid;
  grid-template-rows: 48px 1fr;
  height: 100%;
  min-height: 40vh;

  border: #ececec solid 2.5px;
  border-radius: 12.5px;
}

#toolbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ececec;
  background: #ececec;
  border-radius: 5px;
}

.tabs {
  display: flex;
  gap: 6px;
}

.tab {
  border: none;
  background: none;
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
}

.tab.active{
  background: #c8c8c8;
  border-radius: 6px;
}

#copy, #docs{
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

#copy:hover, .tab:hover, #docs:hover{
  background: #c8c8c8;
  border-radius: 6px;
}

/* Right space */

#preview {
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr 40px;
  height: 100%;
  min-height: 40vh;

  border: #ececec solid 1.5px;
  border-radius: 12.5px;

  position: relative;
  background-color: #fbfbfb;
  background-image:
    radial-gradient(#e5e7eb 1px, transparent 1.5px);
  background-size: 24px 24px;
}

.mermaid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    height: 100%;
    min-height: 40vh;
}

#options{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;

    button{
        background: #ececec;
        border-radius: 6px;
        border: none;
        padding: 6px 12px;
        font-weight: 500;
        cursor: pointer;
    }

    button:hover{
        background: #c8c8c8;
        border-radius: 6px;
    }
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
}

#github{
    color: #2b2c2c;
    padding-right: 25px;
    padding-top: 10px;
}

#github:hover{
    color: blue;
}

#creator{
    font-size: smaller;
    padding-left: 25px;
}

/* Dark mode theme */
/* body{
    background-color: #1f2428;
    color: #e1e4e3; 
}

#toolbar, #preview{
    background-color: #24292e;
    border-color: #24292e;
}

#codespace, #preview{
    border-color: #24292e;

    button{
        color: #e1e4e3; 
    }
    
    button.active{
        background-color: #2f363d;
    }
}

#github{
    color: #e1e4e3;
} */

/* responsiveness */
@media (max-width: 1200px) {
    #workspace {
        display: flex;
        flex-direction: column;
        height: auto; 
    }

    #codespace, #preview {
        height: 40vh; 
    }
}