body {
    margin: 0;
    height: 100%;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    color: #2b2c2c;
}

/* ------------------ Header section ----------------- */

header {
    display: flex;
    flex-direction: row;
    justify-content: left;

    padding-top: 5px;
    height: auto;

    /* background-color: #f0eff3; */
    
    #title{
        padding-left: 25px;
        font-weight: 700;
        font-size: large;
        border-right: 1.5px solid #e5e7eb;
        padding-right: 20px;
    }

    #description{
        padding-left: 10px;
        padding-top: 8px;
        font-style: italic;
        font-size: smaller;
    }
}


/* -------------------- Main section ----------------- */

#workspace {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;

  gap: 20px;
  margin: 20px;
}

/* Left space */

#codespace{
  display: grid;
  grid-template-rows: 48px 1fr;
  height: 80vh;
  border: #f2f3f7 solid 2.5px;
  border-radius: 12.5px;
}

#toolbar {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e7eb;
  background: #f2f3f7;
  border-radius: 5px;
}

.tabs {
  display: flex;
  gap: 6px;
}

.tab {
  border: none;
  background: none;
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
}

.tab.active{
  background: #e5e7eb;
  border-radius: 6px;
}

#copy, #docs{
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

#copy:hover, .tab:hover, #docs:hover{
  background: #e5e7eb;
  border-radius: 6px;
}

/* Right space */

#preview {
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr 40px;
  height: 80vh;

  border: #f2f3f7 solid 1.5px;
  border-radius: 12.5px;

  position: relative;
  background-color: #ffffff;
  background-image:
    radial-gradient(#e5e7eb 1px, transparent 1.5px);
  background-size: 24px 24px;
}

#options{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;

    button{
        background: #f2f3f7;
        border-radius: 6px;
        border: none;
        padding: 6px 12px;
        font-weight: 500;
        cursor: pointer;
    }

    button:hover{
        background: #e5e7eb;
        border-radius: 6px;
    }
}

/* responsiveness */
@media (max-width: 1200px) {
    #workspace {
        display: flex;
        flex-direction: column;
    }
}